UPSTOX_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJrZXlfaWQiOiJza192MS4wIiwiYWxnIjoiSFMyNTYifQ.eyJzdWIiOiIzUEE2R04iLCJqdGkiOiI2OWExOGY0ZGU4MjI4MzM3NTVjY2IzYzMiLCJpc011bHRpQ2xpZW50IjpmYWxzZSwiaXNQbHVzUGxhbiI6ZmFsc2UsImlhdCI6MTc3MjE5NTY2MSwiaXNzIjoidWRhcGktZ2F0ZXdheS1zZXJ2aWNlIiwiZXhwIjoxNzcyMjI5NjAwfQ.Y3Etb6w5221zktR5lkq0ek-yX0-ZDmcI7RZ5Hm4nuiw

# Optional: Keep these if you need to generate a token externally
UPSTOX_API_KEY=446f3e5e-f92b-4260-a6f9-cdb68e26548f
UPSTOX_API_SECRET=hiozxn0r7v
